{{define "alert"}}
<div class="alert alert-{{.Level}} alert-dismissible fade show" role="alert">
  {{.Message}}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{{end}}