{{define "footer"}}
<footer>
 <p> Copyrighting 2021 MyWebApp
</footer>
<ul class="navbar-nav me-auto mb-2 mb-lg-0">
    <li class="nav-item">
        <a class="nav-link" href="/contact">Contact</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/faq">FAQ</a>
    </li>
</ul>
{{end}}