{{define "yield"}}
  <div class="row justify-content-md-center">
    <div class="col-md-12"> 
      <h1>
        {{.Title}}
      </h1>
      <ul>
        {{range .Images}}
          <li>
            {{.}}
          </li>
        {{end}}
      </ul>
      <p>Images coming soon...</p>
    </div>
  </div>
{{end}}