{{define "yield"}}
<h1>FAQ</h1>
<ul>
    <li>
    <b>What a hell are doing?</b>
    <p>I'm try to build a web application usign Golang.</p>
    </li>
    <li>
    <b>Is that legal?</b>
    <p>Absolutely.</p>
    </li>
</ul>
{{end}}